In [ ]:
import tensorflow as tf
import matplotlib as mlt
import seaborn as sys
import pandas as pd
import numpy as np

In [ ]:
train=pd.read_csv('beef_train.csv')
test=pd.read_csv('beef_test.csv')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13986 entries, 0 to 13985
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      13986 non-null  object
 1   번호      13986 non-null  int64
 2   출하주     13962 non-null  object
 3   개체번호    13986 non-null  int64
 4   성별      13985 non-null  object
 5   kpn     13977 non-null  float64
 6   계대      13977 non-null  float64
 7   중량      13986 non-null  int64
 8   최저가     13986 non-null  int64
 9   낙찰가     13986 non-null  int64
 10  상태      13986 non-null  object
 11  비고      5407 non-null   object
 12  종류      13986 non-null  object
 13  지역      13986 non-null  object
dtypes: float64(2), int64(5), object(7)
memory usage: 1.5+ MB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5995 entries, 0 to 5994
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      5995 non-null   object
 1   번호      5995 non-null   int64
 2   출하주     5985 non-null   object
 3   개체번호    5995 non-null   object
 4   성별      5995 non-null   object
 5   kpn     5994 non-null   float64
 6   계대      5994 non-null   float64
 7   중량      5995 non-null   int64
 8   최저가     5995 non-null   int64
 9   비고      2255 non-null   object
 10  종류      5995 non-null   object
 11  지역      5995 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 562.2+ KB